[Unit]
Description=It fixes temperature file for i3-status-bar
 
[Service]
ExecStart=/home/{{ user }}/.config/dotFiles/bin/i3-fix-status-temp.sh {{ profile }}
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 
