[Unit]
Description=It fixes temperature file for i3-status-bar
 
[Service]
ExecStart=/home/fabio/env/bin/i3-fix-status-temp.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 
